#who {
  text-align: center;
  margin-bottom: 80px;
/*display: flex*/
}
#avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
#links {
  max-width: 900px;
  margin: auto;
  padding: 0px 60px;
/*display: flex*/
}
.link {
  display: inline-block;
  position: relative;
  margin: 4px;
  border: solid #dedede 2px;
/*width: 300px*/
/*height: 300px*/
}
.link_icon {
/*display: inline-block*/
  width: 380px;
  height: 380px;
  margin: 10px 20px;
}
.link_foot {
  height: 30px;
}
